In [1]:
# Description: This code calculates the Value at Risk (VaR) for a portfolio diversified among 4 stocks in equal weights:
# INFY, ITC, TATAMOTORS, HDFCBANK

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

In [3]:
stock1 = yf.download('INFY.NS', interval='1d', period='1y')
stock2 = yf.download('ITC.NS', interval='1d', period='1y')
stock3 = yf.download('TATAMOTORS.NS', interval='1d', period='1y')
stock4 = yf.download('HDFCBANK.NS', interval='1d', period='1y')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
# Adding a % returns column in the data

stocks = [stock1, stock2, stock3, stock4]
for i in stocks:
    i['returns'] = i['Close'].pct_change()

In [5]:
# Compiling returns data in portfolio

returns = pd.DataFrame({
    'INFY': stock1['returns'],
    'ITC': stock2['returns'],
    'TATAMOTORS': stock3['returns'],
    'HDFCBANK': stock4['returns']
}).dropna(axis=0)

In [6]:
returns

                INFY       ITC  TATAMOTORS  HDFCBANK
Date
2022-09-20 -0.001259  0.001192    0.020684  0.012046
2022-09-21 -0.008138  0.014732   -0.015199 -0.001545
2022-09-22 -0.006753  0.012025    0.010640 -0.021306
2022-09-23 -0.001828  0.003912   -0.021055 -0.026817
2022-09-26  0.010839 -0.039838   -0.060506 -0.013484
...              ...       ...         ...       ...
2023-09-12  0.016695  0.008833   -0.022131  0.003125
2023-09-13 -0.001832  0.005209    0.008215  0.004276
2023-09-14  0.005740 -0.007828   -0.002077 -0.000608
2023-09-15  0.003086 -0.003556    0.015450  0.011474
2023-09-18 -0.013099  0.008252    0.010091 -0.019678

[248 rows x 4 columns]

In [7]:
# Calculating portfolio returns

portfolio_weights = np.array([0.25,0.25,0.25,0.25])
portfolio_returns = returns.dot(portfolio_weights)

In [8]:
portfolio_returns

Date
2022-09-20    0.008166
2022-09-21   -0.002537
2022-09-22   -0.001348
2022-09-23   -0.011447
2022-09-26   -0.025747
                ...
2023-09-12    0.001631
2023-09-13    0.003967
2023-09-14   -0.001193
2023-09-15    0.006613
2023-09-18   -0.003608
Length: 248, dtype: float64

In [9]:
# Calculating historical var for a confidence_level of 95%

confidence_level = 0.95
historical_var = np.percentile(portfolio_returns, confidence_level * 100)

In [10]:
historical_var * 100

1.431734262584339